<div class="gallery">
    {% for photo in photos %}
        <img src="{{ url_for('static', filename='uploads/' + photo) }}" alt="{{ photo }}" width="200">
        <!-- <form action="/delete/{{ photo }}" method="post">
            <button type="submit">Delete</button>
        </form> -->
         
    {% endfor %}
<form action="/upload" method="post"enctype="multipart/form-data">
    <div>
        <label for="file">Choose an image to upload:</label>
         <input type="file"name=file> </input>
    <div>
         <input type="submit"value="upload">upload </input>

    </div>
        </div>
</form>
</div>